// .row {

//     // display:flex;
//     max-width:$grid-width;
//     margin:0 auto;

//     @media (min-width:1200px)
//     {

//     }

   
//  &::after {
//     display: table;
//     clear: both;
//     content: ""; 
//  } 

//    @media (max-width:900px)
//    {
//        margin: 0;
//        height: 100%;
//        width: 50rem; 
//        right: 50%;
//        transform: translateX(65%);
//      } 


//      @media (max-width:500px)
//    {
//        margin: 0;
//        height: 105%;
//        width: 50rem; 
//        right: 50%;
//        transform: translateX(50%);
//      } 

      
//      @media (max-width:400px)
//      {
//          margin: 0;
//          height: 105%;
//          width: 50rem; 
//          right: 50%;
//          transform: translateX(50%);
//        } 
    
//      @media (max-width:350px)
//      {
//          margin: 0;
//          height: 105%;
//          width: 50rem; 
//          right: 50%;
//          transform: translateX(45%);
//        } 
   
//        @media (max-width:350px)
//        {
//            margin: 0;
//            height: 105%;
//            width: 50rem; 
//            right: 50%;
//            transform: translateX(50%);
//          } 
     
      
//      &:not(:last-child) {
//          margin-bottom: 8rem;
//          @media (max-width:900px)
//          {
//              margin-bottom: -100rem;
//          }  
     
//     }
    
//     [class^="col-"]
//     {
//         float: left;
//         transition: all .2s;
//         &:not(:last-child) {
//             margin-right: $gutter-horizontal;

//             @media (max-width:900px)
//             {
//                 margin-right: 0;
//                 height: 25%;
//             }

//             @media (max-width:500px)
//             {
//               margin-right: -5rem;
//             }

//         }
        
//         @media (max-width:900px)
//         {
//             width: 100% !important;
//             margin-bottom: $gutter-vertical-small;
//             // left: 50%;
//             // transform: translateX(50%);
//         }
//     }

    

//     .col-1-of-2 {

//         order: 2;
//         width: 54rem;
//         justify-content: center;
//         @media (max-width:900px)
//         {
//             max-width: 200rem !important;
//         }

       
     
     
        
//     }

//     .col-1-of-3 {
//         justify-content: center;
//         width: 30rem;
//         height: 80vh;

//         @media (max-width:900px){
//             height: 30vh;
//             width: 50%;
//         }
        
//         &:first-child {           
//              margin-left: 6rem;

//              @media (max-width:900px)
//              {
//                  margin-left: 0;
//              }
//              }


//              &:not(:first-child) {

//                  @media (max-width:900px)
//                  {
//                      margin-top: 0rem;
//                  }
//              }

        
       
//     }

//     // .col-01-of-3{
//     //     justify-content: center;
//     //     margin-right: $gutter-horizontal;
//     //     // background-color: orangered;
//     //     width: 30rem;

//     // }
    

//     .col-2-of-3{
//         justify-content: center;
//         // background-color: orangered;
//         width: 80rem;
//     }
    
//     .col-1-of-4 {
        
//         width:24rem;
//         text-align: center;
        
        

//             @media (max-width:900px)
//             {
//                 margin-right: 0;
//                 width: 30rem;
//                 margin-top: 0;
//             }   

            
//             @media (min-width:1200px)
//             {
               
//                 margin-top: -10rem;
//             }   

//     }
    
//     .col-2-of-4 {
//         justify-content: center;
//         width: 54rem;
        
//         background-color: orangered;
//     }

//         .col-3-of-4 {
//             width:84rem;
//             text-align:left;
//             // padding-top: 30px;
//         background-color: orangered;
//         }

// }


.row {
    &::after,&::before {
        content: "";
        display: table;
        clear:both;
    }
    width: 80%;
    margin: 0 auto;

    @media (max-width:900px) {
        width: 80%;
        font-size: 1.7rem;

    }

    @media (max-width:500px) {
        width: 90%;
        font-size: 1.5rem;

    }

  


}



.col-1-of-2 {
    width: 45%;
    float: left;
    &:not(:last-child) {
        margin-right: 10%;
    }

    @media (max-width:900px) {
        width: 100%;
        margin-bottom: 5%;
        margin-right: 0;
    }
}

.col-1-of-4 {
    width: 21.25%;
    float: left;
    &:not(:last-child) {
        margin-right: 5%;
    }
    @media (max-width:900px) {
        margin-bottom: 5%;
        margin-right: 10%;
        width: 100%;
    }
}

.col-1-of-3 {
    width: 30%;
    float: left;
    &:not(:last-child) {
        margin-right: 5%;
    }

    @media (max-width:900px) {
        width: 70%;
        margin-right: 0%;
        margin-bottom: 10% !important;   
        transform: translateX(50%);    
    }

    // @media only screen and (max-width:500)
}

.fl {
    display: flex;
}